<div id='after_section_2'  class='main_color av_default_container_wrap container_wrap fullsize'>
    <div class='container av-section-cont-open' >
        <div class='template-page content  av-content-full alpha units'>
            <div class='post-entry post-entry-type-page post-entry-5'>
                <div class='entry-content-wrapper clearfix'>
                    <section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
                        <div class='avia_textblock  '   itemprop="text">
                            <h2>
                                <strong>Stay Connected with AgStack Foundation</strong>
                            </h2>
                        </div>
                    </section>
                    <div  class='hr av-koagjfkk-a52b769624321a30a32c54f3c82dbe78 hr-invisible  avia-builder-el-20  el_after_av_textblock  el_before_av_codeblock  '>
                        <span class='hr-inner '>
                            <span class="hr-inner-style">

                            </span>
                        </span>
                    </div>
                    <section class="avia_codeblock_section  avia_code_block_0"  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
                        <div class='avia_codeblock '  itemprop="text" >
                            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                            <script>
                                hbspt.forms.create({
                                    region: "na1",
                                    portalId: "8112310",
                                    formId: "8ba113ef-b758-4626-89e7-65347490abc8",
                                    sfdcCampaignId: "7012M000001rewVQAQ"
                                });
                            </script>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>