{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://api.agstack.org/asset-registry/",
    "description" : "Production Server (live data)"
  } ],
  "info" : {
    "title" : "Simple Inventory API",
    "version" : "1.0.0",
    "description" : "This is the AgStack asset registry api. It is used for registering an asset (i.e, typically a polygon but is can be any geo-spatial geometry) and getting back a 256-byte/16-Char alphanumeric unique id for it\n",
    "contact" : {
      "email" : "contact@agstack.org"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "authenticated",
    "description" : "Operations available to everyone with an access key"
  } ],
  "paths" : {
    "/findAssetForField" : {
      "get" : {
        "tags" : [ "authenticated" ],
        "summary" : "Find or create polygons",
        "operationId" : "findAssetForField",
        "description" : "* To define a new polygon or find a very closely matching polygon (omit inclusion and overlap, create=1)\n* To find an existing polygon, but not create a new one (omit inclusion and overlap, create=0)\n* To find existing polygons that completely contain the query polygon with only minor exceptions, but which are no more than 100 times larger than the query (set overlap near 1, set inclusion to 0.01, create=0)\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "bound",
          "required" : true,
          "description" : "WKT for the Polygon to be identified eg, from shapely.Polygon.to_wkt()",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "inclusion",
          "description" : "The area of the intersection divided by the area of the result polygon will be at least this large. Default is 0.9\n",
          "schema" : {
            "type" : "number",
            "format" : "float",
            "minimum" : 0,
            "maximum" : 1
          }
        }, {
          "in" : "query",
          "name" : "overlap",
          "description" : "The area of the intersection of the result and query divided by the area of the query polygon will be at least this large. Default is 0.9\n",
          "schema" : {
            "type" : "number",
            "format" : "float",
            "minimum" : 0,
            "maximum" : 1
          }
        }, {
          "in" : "query",
          "name" : "create",
          "required" : true,
          "description" : "If no matching polygon is found, a new polygon will be registered if create=1\n",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 1
          }
        }, {
          "in" : "query",
          "name" : "includeAutocreated",
          "required" : false,
          "description" : "Include all autocreated polygons (using machine learning)\n",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 1
          }
        }, {
          "in" : "query",
          "name" : "includeS2Indices",
          "required" : false,
          "description" : "Include all autocreated polygons (using machine learning)\n",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 1
          }
        }, {
          "$ref" : "#/components/parameters/accessKey"
        }, {
          "$ref" : "#/components/parameters/signature"
        } ],
        "responses" : {
          "200" : {
            "description" : "GeoJSON payload with key-value pairs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "geoid" : {
                      "type" : "string",
                      "description" : "24 hexit string. The geo-identifier for an overlapping region"
                    },
                    "intersection" : {
                      "type" : "number",
                      "format" : "float",
                      "minimum" : 0,
                      "maximum" : 1,
                      "example" : 0.5,
                      "description" : "The area intersection divided by the area of the union or result and query polygons"
                    },
                    "inclusion" : {
                      "type" : "number",
                      "format" : "float",
                      "minimum" : 0,
                      "maximum" : 1,
                      "example" : 0.9,
                      "description" : "The area of the intersection divided by the area of the result polygon"
                    },
                    "overlap" : {
                      "type" : "number",
                      "format" : "float",
                      "minimum" : 0,
                      "maximum" : 1,
                      "example" : 0.7,
                      "description" : "The area intersection divided by the area of query polygon"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAsset" : {
      "get" : {
        "tags" : [ "authenticated" ],
        "summary" : "Get an asset boundary with its geoid",
        "operationId" : "getAsset",
        "description" : "",
        "parameters" : [ {
          "in" : "query",
          "name" : "geoid",
          "required" : true,
          "description" : "A 24 hexit string. The identifier for an overlapping region.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "includeS2Indices",
          "required" : false,
          "description" : "Include the S2 indices (list of Level 20, Level 19, Level 15. Level 8 and level 5) of all the indices that intersect the assetid\n",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 1
          }
        }, {
          "$ref" : "#/components/parameters/accessKey"
        }, {
          "$ref" : "#/components/parameters/signature"
        } ],
        "responses" : {
          "200" : {
            "description" : "GeoJSON payload with key-value pairs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "geoid" : {
                      "type" : "string",
                      "description" : "24 hexit string. The geo-identifier for an overlapping region"
                    },
                    "boundary" : {
                      "type" : "string",
                      "description" : "WKT string of the Polygon"
                    },
                    "meta-data" : {
                      "type" : "object",
                      "description" : "Dictionary of key-value pairs that are optionally posted by the creator (if they exist)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/findAssetForPoint" : {
      "get" : {
        "tags" : [ "authenticated" ],
        "summary" : "Get a list of asset boundaries from a latitude and longitude point",
        "operationId" : "findAssetForPoint",
        "description" : "Get a list of asset boundaries whose boundaries contain the latitude and longitude Point\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "lat",
          "required" : true,
          "description" : "The Latitude in WGS84 projection (EPSG 4326)",
          "schema" : {
            "type" : "number",
            "format" : "float",
            "minimum" : -90,
            "maximum" : 90
          }
        }, {
          "in" : "query",
          "name" : "lon",
          "required" : true,
          "description" : "The Longitude in WGS84 projection (EPSG 4326)",
          "schema" : {
            "type" : "number",
            "format" : "float",
            "minimum" : -180,
            "maximum" : 180
          }
        }, {
          "in" : "query",
          "name" : "includeAutocreated",
          "required" : false,
          "description" : "Include all autocreated polygons (using machine learning)\n",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 1
          }
        }, {
          "in" : "query",
          "name" : "includeS2Indices",
          "required" : false,
          "description" : "Include the S2 indices (list of Level 20, Level 19, Level 15. Level 8 and level 5) of all the indices that intersect the assetid\n",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 1
          }
        }, {
          "$ref" : "#/components/parameters/accessKey"
        }, {
          "$ref" : "#/components/parameters/signature"
        } ],
        "responses" : {
          "200" : {
            "description" : "GeoJSON payload with a list of key-value pairs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GeoidEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/findAssetsForAOI" : {
      "get" : {
        "tags" : [ "authenticated" ],
        "summary" : "Get a list of asset boundaries from an Area of Interest",
        "operationId" : "findAssetForAOI",
        "description" : "Get a list of asset boundaries whose boundaries are included inside the Area of Interest (AOI)\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "OAI",
          "required" : true,
          "description" : "The GeoJSON in a string (wkt) format of the area of interest (e.g., a watershed or a state) . WGS84 projection / EPSG 4326\n",
          "schema" : {
            "type" : "string",
            "description" : "A WKT polygon string"
          }
        }, {
          "in" : "query",
          "name" : "includeAutocreated",
          "required" : false,
          "description" : "Include all autocreated polygons (using machine learning)\n",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 1
          }
        }, {
          "in" : "query",
          "name" : "includeS2Indices",
          "required" : false,
          "description" : "Include the S2 indices (list of Level 20, Level 19, Level 15. Level 8 and level 5) of all the indices that intersect the assetid\n",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 0,
            "maximum" : 1
          }
        }, {
          "$ref" : "#/components/parameters/accessKey"
        }, {
          "$ref" : "#/components/parameters/signature"
        } ],
        "responses" : {
          "200" : {
            "description" : "GeoJSON payload with a list of key-value pairs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GeoidEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setMetaData" : {
      "get" : {
        "tags" : [ "authenticated" ],
        "summary" : "Add optional metadata about a registered polygon",
        "operationId" : "setMetaData",
        "description" : "* To define and post optional metadata about a registered polygon\n* Implemented as an OrderedDict datatype so that flexible ontologies can be posted.\n* Date and public credentials will be uniform\n* Multiple users can post to a polygon, but the date and credentials will enable ease of selection by users\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "TBA",
          "required" : false,
          "description" : "TODO",
          "schema" : {
            "type" : "boolean",
            "description" : "TODO"
          }
        }, {
          "$ref" : "#/components/parameters/accessKey"
        }, {
          "$ref" : "#/components/parameters/signature"
        } ],
        "responses" : {
          "200" : {
            "description" : "TODO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean",
                  "description" : "TODO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "parameters" : {
      "accessKey" : {
        "in" : "query",
        "name" : "accessKey",
        "required" : true,
        "description" : "The identifier of the workload making the request",
        "schema" : {
          "type" : "string"
        }
      },
      "signature" : {
        "in" : "query",
        "name" : "signature",
        "required" : true,
        "description" : "The hash of the arguments excluding the signature keyed with the private key associated with the access key.",
        "schema" : {
          "type" : "string"
        }
      }
    },
    "schemas" : {
      "GeoidEntry" : {
        "type" : "object",
        "properties" : {
          "index" : {
            "type" : "integer",
            "description" : "The item number on the list"
          },
          "geoid" : {
            "type" : "string",
            "description" : "A 24 hexit string. Geoid of this asset in the list"
          }
        }
      }
    }
  }
}